.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*NOTES.R
*.Rproj
rebuild.Rmd
rebuild_exports.Rmd
rebuild_0.Rmd
demo.Rmd
fui_conc.Rmd
*oop.R
data/hidden/
*tar.gz
*rebuild.R
*_conc.*
fastFMM-vignette-ref.Rmd
inst/doc
